body {
    background-color: #000;
  }
h1{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
h2{
    color: white;
}
p{
    color: white;
    display: inline;    
}
nav{
    background-color: #111;
}
#radarCanvas {
    background-color: #111;
    border: 1px solid #333;
    margin: 20px auto;
    display: block; 
}
@media (max-width: 767px) {
    #radarCanvas {
      width: 90%;
      height: auto; /* Maintain aspect ratio */
    }
}